<h1>Dictionary</h1>
<h2>Welcome! Create your own dictionary!</h2>

<a href="/words/new"><button class="btn btn-info">Add your first word!</button></a>
<a href="/words"><button class="btn btn-info">View your dictionary</button></a>
